[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even.git
[submodule "public"]
	path = public
	url = https://github.com/wenchangshou2/wenchangshou2.github.io.git
